In [25]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Infos und Übersicht

In [26]:
rawdata = pd.read_csv("Data.csv")
#rawdata["ART"] = pd.Categorical(rawdata.ART, ['Flat', 'Attached', 'House'])
rawdata.head()

,playerId,Name,Sex,Equipment,Age,BodyweightKg,BestSquatKg,BestDeadliftKg
0,19391.0,Carlos Ceron,M,Raw,23.0,87.30,205.0,235.0
1,15978.0,Tito Herrera,M,Wraps,23.0,73.48,220.0,260.0
2,27209.0,Levi Lehman,M,Raw,26.0,112.40,142.5,220.0
3,27496.0,Stacy Hayford,F,Raw,35.0,59.42,95.0,102.5
4,20293.0,Brittany Hirt,F,Raw,26.5,61.40,105.0,127.5

# Fehlende Werte

In [27]:
# Check missing values

print(rawdata.info())                                                      #Infos über Datentypen/Werte 
print(rawdata.isnull().sum())                                               #Fehlende Werte 
# Dealing with missing values
# (1) Deleting the column with missing values
# rawdata = rawdata.dropna(axis=1)

# (2) Deleting the row with missing values
# rawdata = rawdata.dropna(axis=0)

# (3) Imputation - filling the missing values
#rawdata['PRICE'] = rawdata['PRICE'].fillna(rawdata['PRICE'].median())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18900 entries, 0 to 18899
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   playerId        18900 non-null  float64
 1   Name            18900 non-null  object
 2   Sex             18900 non-null  object
 3   Equipment       18900 non-null  object
 4   Age             18725 non-null  float64
 5   BodyweightKg    18900 non-null  float64
 6   BestSquatKg     18900 non-null  object
 7   BestDeadliftKg  18900 non-null  float64
dtypes: float64(4), object(4)
memory usage: 1.2+ MB
None
playerId            0
Name                0
Sex                 0
Equipment           0
Age               175
BodyweightKg        0
BestSquatKg         0
BestDeadliftKg      0
dtype: int64